body {
    margin:40px auto;
    max-width:600px;
    line-height:1.6;
    font-size:18px;
    color: #555;
    padding:0 10px;
    background-color: #fffff7;
}

a {
    color: #28A1F2;
    text-decoration: none;
}